<h1>Image uploader</h1>

<table>
  <tr>
    <th>Thumnail</th>
    <th>Filename</th>
    <th>Make</th>
    <th>Model</th>
    <th>Content type</th>
    <th>Command</th>
  </tr>

<% @fileelements.each do |fileelement| %>
  <tr>
    <th>
      <%= image_tag url_for(:action => 'viewer', :id => fileelement.id),
      :alt => fileelement.filename, :size => '100x100' %>
    </th>
    <th><%= fileelement.filename %></th>
    <th><%= fileelement.make %></th>
    <th><%= fileelement.model %></th>
    <th><%= fileelement.content_type %></th>
    <th><%= link_to 'Show', fileelement %> | 
    <th><%= link_to 'Delete', fileelement, confirm: 'Are you sure?', method: :delete %></th>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add image', new_fileelement_path %>
