<p id="notice"><%= notice %></p>

<p>
  <b>Filename:</b>
  <%= @fileelement.filename %>
</p>

<p>
  <b>Content type:</b>
  <%= @fileelement.content_type %>
  <%= image_tag url_for(:action => 'download', :id => @fileelement.id), 
  :alt => @fileelement.filename %>
</p>

<%= link_to 'Download', :action => 'download', :id => @fileelement.id %> |
<%= link_to 'Delete', @fileelement, confirm: 'Are you sure?', method: :delete %>
<%= link_to 'Back', fileelements_path %>

